path:
  # root: # [TODO] set path to evaluation dataset for clarity challenge
  root: '/home/olive-samba/sambashare/data/Sound/clarity_ICASSP2023/clarity_CEC2_data'
  metadata_dir: ${path.root}/clarity_data/metadata
  listeners_file: ${path.metadata_dir}/listeners.eval.json
  # evaluation sets
  scenes_cases: 
    - eval1
    - eval2
  scenes_folder: 
    - clarity_data/eval1/scenes
    - clarity_data/eval2/scenes
  scenes_listeners_file: 
    - scenes_listeners.eval1.json
    - scene_listener.eval2.json
  exp_folder: ./exp # folder to store enhanced signals and final results


nalr:
  nfir: 220
  fs: 44100

compressor:
  threshold: 0.35
  attenuation: 0.1
  attack: 50
  release: 1000
  rms_buffer_size: 0.064

soft_clip: True

evaluate:
  set_random_seed: True
  small_test: False

# hydra config
hydra:
  run:
    dir: ${path.exp_folder}
