default:
  # dset: 
  #   name: 'VoiceBankDEMAND'
  #   config:
  dset: 
    name: 'Clarity'
    config: './recipes/icassp_2023/MLbaseline/config.yaml'
  
dummy:
misc:
  num_workers: 1
  num_prints: 4
  show: False
  verbose: False

optim:
  load: False
  # optim: 'sgd'
  optim: 'adam'
  lr: 0.0003
  beta1: 0.9
  beta2: 0.999
  # loss: 'l1'
  loss: 'mse'
  # loss: 'psa'
  # loss: 'psa-bose'
  # loss: 'ideal-mag'
  clip_grad: False

model:
  # wav-unet, dcunet, demucs, conv-tasnet,
  # [X] mel-rnn, crn, dccrn
  name: 'dcunet'
  input_channels: 1
  segment: 1.024
  sample_rate: 16000
  n_fft: 512
  hop_length: 256
  win_length: 512
  center: True
  # Mel-RNN
  rnn_type: 'rnn'
  rnn_layer: 256
  n_mels: 128
  f_min: 125
  f_max: 8000
  ema: True
  # DCUnet
  model_complexity: 45
  model_depth: 10 
  data_type: True 
  padding_mode: 'zeros'
  # Unet
  unet_nlayers: 12
  channels_interval: 24
  # CRN
  # n_fft: 320
  # hop_length: 160
  # win_length: 320
  # Demucs
  sources: [None]

    
dset:
  # wav: './data/VoiceBankDEMAND/DS_10283_2791'
  wav: '/home/olive-samba/sambashare/data/Sound/clarity_ICASSP2023/clarity_CEC2_data/clarity_data'
  split: [0.85, 0.1, 0.05]
  segment: 1.024  
  use_all: False
  shift: None
  sample_rate: 16000
  norm: 'z-score'
  # norm: 'linear-scale'
  channels: 1
  
solver:
  root: '.'
  num_workers: 10
  epochs: 400
  batch_size: 16
  all_steps: False
  total_steps: 2000
  save_checkpoint_interval: 5
  patience: 40
  resume:
  preloaded_model:
  cudnn_deterministic: True
  validation: 
    interval: 1
    metric: 'loss' # sisdr, stoi, pesq, sisdr
  test:
    total_steps: 100
    interval: 40
    num_show: 10
    metric: 'sisdr' # loss, stoi, pesq, sisdr
  
  # best: False
  # save: True 
  
name: "conv-tasnet"
seed: 10
